.button_entree,
.button_sortir,
.button_back,
.button_login_gestionnaire,
.button_confirmExitWithCodebarres,
.button_loginGestionnaire {
	-fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: #D8EAEA;
}

.button_entree,
.button_confirmExitWithCodebarres,
.button_loginGestionnaire {
    -fx-text-fill: white;
    -fx-background-color: #2c8eff;
}

.button_sortir, 
.button_back {
	-fx-text-fill: #db4b4b;
	-fx-background-color: transparent;
    /*-fx-background-color: #F5D8D8;*/
}

.button_login_gestionnaire {
	-fx-background-color: #eeeeee;
}

.input_txt_firstname, 
.input_txt_lastname,
.input_txt_codebarres,
.input_txt_usernameGestionnaire,
.input_txt_passwordGestionnaire {
	-fx-focus-color: transparent;
	-fx-border-width: 0;
    -fx-border-color: transparent;
}


/*
 * -fx-focus-color: transparent;
 * 
 * 
 * 
 * 
 * */ 